* {
  margin: 0;
  padding: 0;
  outline: none;
}

*:not(input, textarea) {
  -webkit-touch-callout: inherit;
  -webkit-user-select: auto;
}

body {
  width: 100%;
  font-family: Hiragino Sans GB, Arial, Helvetica, '微软雅黑', sans-serif;
  font-size: 14px;
  color: #878787;
  -webkit-touch-callout: inherit;
  -webkit-user-select: auto;
  background-color: #fff;
  overflow: hidden;
}

body {
  background-color: #f1f5f8;
}

a {
  color: #878787;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a:link,
a:visited,
a:hover,
a:active {
  color: #878787;
  text-decoration: none;
}

/* 清除浮动 */
.ks-clear:after,
.clear:after {
  content: '\20';
  display: block;
  height: 0;
  clear: both;
}

.ks-clear,
.clear {
  *zoom: 1;
}
